name: "Xfinity Internet Usage"
description: "Get Xfinity Internet Usage Data"
url: "https://github.com/thor0215/hassio-xfinity-usage"
version: "2026.02.1"
image: "ghcr.io/thor0215/hassio-xfinity-usage-{arch}"
slug: "xfinity-usage"
init: false
arch:
  - aarch64
  - amd64
startup: application
boot: auto
homeassistant_api: true
hassio_api: true
hassio_role: manager
panel_icon: mdi:network
map:
  - addon_config:rw
backup_exclude:
  - "profile*"
services:
  - mqtt:want

options:
  page_timeout: 60
  polling_rate: 3600
  clear_token: false
  log_level: info
  mqtt_enabled: false
  mqtt_host: core-mosquitto
  mqtt_port: 1883
  mqtt_username: addons
  mqtt_raw_usage: false

schema:
  refresh_token: str?
  xfinity_code: str?
  clear_token: bool
  page_timeout: int(15,)?
  polling_rate: int(30,)?
  log_level: list(info|debug)?
  mqtt_enabled: bool?
  mqtt_host: str?
  mqtt_port: port?
  mqtt_username: str?
  mqtt_password: password?
  mqtt_raw_usage: bool
