name: "Delete Old Packages"

on: 
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * 0' # Run Every Sunday

jobs:
  build:
    name: Delete Old Packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:      
    - name: Checkout the repository
      uses: actions/checkout@v6
          
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Delete all untagged hassio-xfinity-usage-amd64 packages except latest 10
      uses: actions/delete-package-versions@v5
      with: 
        package-name: 'hassio-xfinity-usage-amd64'
        package-type: 'container'
        min-versions-to-keep: 5
        delete-only-untagged-versions: 'true'

    - name: Delete all untagged hassio-xfinity-usage-aarch64 packages except latest 10
      uses: actions/delete-package-versions@v5
      with: 
        package-name: 'hassio-xfinity-usage-aarch64'
        package-type: 'container'
        min-versions-to-keep: 5
        delete-only-untagged-versions: 'true'

