name: "Publish Docker Dev Addon Packages"

on:
  workflow_dispatch:
  push:
    branches:
      - 'development/**'

jobs:
  publish:
    name: Publish Docker Dev Addon Packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
              
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --no-latest \
            --amd64 \
            --aarch64 \
            --target xfinity-usage \
            --image hassio-xfinity-usage-{arch}
