name: "Test Docker Addon Build"

on: 
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * 0' # Run Every Sunday

jobs:
  build:
    name: Test Docker Addon Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5
      
      - name: Test build
        uses: home-assistant/builder@master
        with:
          args: |
            --test \
            --{arch} \
            --target xfinity_usage \
            --image hassio-xfinity-usage-{arch} 
